main {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: beige;
    border: solid;
    

}

.add-rating-button {
    text-align: center;
}

h1 {
    text-align: center;
    color: chocolate;
}

.form-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: beige;
    padding: 10px;
    margin-bottom: 20px;
    font-weight: bold;
  }

.minimum-rating {
    display: none;
}